<template>
	<div >
		<div class="container">
			<div >
				<h1 style="margin:0px 59px 0px 10px">this is a cart</h1>
			</div>

<!-- key the array to get item position so I can manage the array -->
			<div v-for="(meals, key) in mealsInCart">
			{{meals.meal.name}} - {{meals.meal.date}}
			<button @click="removeCart(meals)" class="btn btn-delete btn-sm"type="button" name="button">Remove</button>
		</div>
		</div>




  </div>
</template>

<script>
export default {
  props: ['mealsInCart'],
  data(){
    return{
      cart: [],
			id:'',
    }
	},
		methods:{
			removeCart(id) {
				//parent access the function from the parent script, meals.vue
				this.$parent.removeCart(id);
			}
		}

  }


</script>
