<template>
	<div>
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item">
		      <a @click="fetchMeals(pagination.prev_page_url)" class="page-link" href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only">Previous</span>
		      </a>
		    </li>
				<li class="page-item disabled"><a class="page-link text-darl" href="#">Page {{pagination.current_page}}</a></li>
		    <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
		      <a @click="fetchMeals(pagination.next_page_url)" class="page-link" href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		        <span class="sr-only">Next</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		<div class="container">
			<div style="float:right;  ">
				<cart :mealsInCart="cart"></cart>
			</div>
			<div class="row">
				<h1>	this is a meal </h1>
				<div class="col-md-12" v-for="meal in meals">
					<div class="card w-75 text-center">
						<div class="card-body">
						<h5 class="card-title">{{ meal.date}}</h5>
						<p class="card-text">{{ meal.name}}</p>
					<button @click="addCart({meal})" class="btn btn-info btn-sm"type="button" name="button">Add</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import cart from './cart.vue';
export default{
	props: ['mealsInShelve'],
	data() {
		return{
			cart: [],
			cartMeals:[],
			shelveMeals:[],
			meals:[],
			meal:{
				id:'',
				date:'',
				name:''
			},
			meal_id:'',
			pagination:{},
			edit:false
		};
	},
	components:{
		'Cart': cart
	},
	created(){
		this.fetchMeals();
	},
	methods:{
		fetchMeals(page_url){
			let vm = this;
			page_url = page_url || 'https://localhost/associacoes/public/meal';
			fetch(page_url)
			.then(res => res.json())
			.then(res => {
		this.meals = res.data;
		vm.makePagination(res.meta, res.links);
	})
		},
		makePagination(meta, links){
			let pagination = {
				current_page: meta.current_page,
				last_page: meta.last_page,
				next_page_url: links.next,
				prev_page_url: links.prev,
			}
			this.pagination = pagination;
																															//run this here so you can get the available meals and meals in cart at page start.
			var numberOfMealsInShelve = this.meals.length; 					//find how many meals we have available in this page
			this.shelveMeals = [];																	// clear the array so you dont get cumulative results
			var shelveMealsArray = this.shelveMeals;								//create local array to fill up with available meals
			for(var i = 0; i<numberOfMealsInShelve; i++)
			{
				shelveMealsArray.push(this.meals[i].id); 							//fill meal array with all the meal
			}
			var numberOfMealsInCart = this.cart.length; 						//find how many meals we in the cart
			this.cartMeals = [];																		//empty cart
			var cartMealsArray = this.cartMeals;									  //create local array to fill up with meals in cart
			for(var i = 0; i<numberOfMealsInCart; i++)
			{
				cartMealsArray.push(this.cart[i].meal.id);
			}
			//cut the meals from shelve
			for(var i = 0; i<numberOfMealsInCart; i++)
			{
				var cartSearch = cartMealsArray[i]
						if(shelveMealsArray.indexOf(cartSearch)>-1){
							var position = shelveMealsArray.indexOf(cartSearch)
							var vm = this.meals;
//splicing both arrays to keep the $key
//if the splice is not on the page just let the meal go, itll go into position on pagination refresh
							vm.splice(position,1)
							shelveMealsArray.splice(position,1)
						}
			}
		},
		addCart(meals){
			var iterations = this.meals.length; 														//find how many meals we have available in this page
			this.shelveMeals = [];																					// clear the array so you dont get cumulative results
			var shelveMealsArray = this.shelveMeals;												//create local array to fill up with available meals
			for(var i = 0; i<iterations; i++)
			{
				shelveMealsArray.push(this.meals[i].id); 											//get all the meal ids for this page
			}
			var mealPositionInShelve = shelveMealsArray.indexOf(meals.meal.id);
			this.meals.splice(mealPositionInShelve, 1)											//remove the meal from the shelve array
			this.cart.push(meals);																					//add meal to cart
		},
		removeCart: function(meals) {
			var shelveMeals = this.shelveMeals;															//get the meals on the shelve
			var mealPositionInShelve = shelveMeals.indexOf(meals.meal.id);	//get the position of the meal on the shelve so we can remove it
			if(mealPositionInShelve<0){																			//if the meal is not on the mealsInShelve
				var vm = this.meals;																					//call all the meals in the page
				if(vm.length < 7){																						//if the meal array is full, just dump the meal
					this.meals.push(meals.meal);																//if its not full add it in (will cause momentary discrepancy)
				}
			}
			this.cart.splice(meals, 1)																			//remove the meal from the cart
		}
	}
}
</script>
